# This is pre-commit git hooks that run before a git commit to ensure test is being runned
# this automation is running on my local Linux system, so it might not work if you are using Windows,
# but it can be changed to use the mvnw cmd script instead.

fail_fast: false
repos:
  - repo: local
    hooks:
      - id: api-test
        name: Api test
        entry: ./mvnw
        args: [ "-f", "api/pom.xml", "clean", "test" ]
        language: system
        files: ^api/src
        require_serial: true
        pass_filenames: false
      - id: background-test
        name: Background test
        entry: ./mvnw
        args: [ "-f", "background/pom.xml", "clean", "test" ]
        language: system
        files: ^background/src
        require_serial: true
        pass_filenames: false