---
- name: Deploy multi-container application with Docker Compose
  hosts: web
  become: yes
  tasks:
    - name: Partition Remote Host
      import_tasks: tasks/partition-host.yaml
    - name: Install Docker
      import_tasks: tasks/install-docker.yaml
    - name: Install & Configure NGINX
      import_tasks: tasks/install-nginx.yaml
    - name: Start Docker Compose
      import_tasks: tasks/start-docker.yaml