- name: Install NGINX
  ansible.builtin.include_role:
    name: nginxinc.nginx_core.nginx

- name: Configure NGINX
  ansible.builtin.include_role:
    name: nginxinc.nginx_core.nginx_config
  vars:
    nginx_config_template_src: /opt/docker/nginx.conf
    nginx_config_use_template: false