- name: Create application directory on remote host
  # https://docs.ansible.com/projects/ansible/latest/collections/ansible/builtin/file_module.html#ansible-collections-ansible-builtin-file-module
  ansible.builtin.file:
    path: /opt/docker
    state: directory
    mode: '0755'

- name: Copy docker-compose.yml to remote host
  # https://docs.ansible.com/projects/ansible/latest/collections/ansible/builtin/copy_module.html#ansible-collections-ansible-builtin-copy-module
  ansible.builtin.copy:
    src: docker-compose.ec2.yaml
    dest: /opt/docker

- name: Copy nginx.conf to remote host
  # https://docs.ansible.com/projects/ansible/latest/collections/ansible/builtin/copy_module.html#ansible-collections-ansible-builtin-copy-module
  ansible.builtin.copy:
    src: nginx.conf
    dest: /opt/docker