---
- name: Deploy multi-container application with Docker Compose
  hosts: web
  become: yes

  tasks:
    - name: Create application directory on remote host
      # https://docs.ansible.com/projects/ansible/latest/collections/ansible/builtin/file_module.html#ansible-collections-ansible-builtin-file-module
      ansible.builtin.file:
        path: /opt/docker
        state: directory
        mode: '0755'

    - name: Copy docker-compose.yml and application files to remote host
      # https://docs.ansible.com/projects/ansible/latest/collections/ansible/builtin/copy_module.html#ansible-collections-ansible-builtin-copy-module
      ansible.builtin.copy:
        src: docker-compose.ec2.yaml
        dest: /opt/docker

    - name: Ensure Docker Compose services are running and up-to-date
      # https://docs.ansible.com/projects/ansible/latest/collections/community/docker/docker_compose_v2_module.html
      community.docker.docker_compose_v2:
        project_src: /opt/docker/docker-compose.ec2.yaml
        state: present
        pull: true
        build: false
      register: compose_output

    - name: Display Docker Compose result
      # https://docs.ansible.com/projects/ansible/latest/collections/ansible/builtin/debug_module.html#ansible-collections-ansible-builtin-debug-module
      ansible.builtin.debug:
        var: compose_output