# Start the docker compose file and output the logs

- name: Copy docker-compose.yml to remote host
  # https://docs.ansible.com/projects/ansible/latest/collections/ansible/builtin/copy_module.html#ansible-collections-ansible-builtin-copy-module
  ansible.builtin.copy:
    src: ../../docker-compose.yaml
    dest: /opt/docker

- name: Ensure Docker Compose services are running and up-to-date
  # https://docs.ansible.com/projects/ansible/latest/collections/community/docker/docker_compose_v2_module.html
  community.docker.docker_compose_v2:
    assume_yes: true
    project_src: /opt/docker
    state: present
    pull: always
    build: never
  register: compose_output

- name: Display Docker Compose result
  # https://docs.ansible.com/projects/ansible/latest/collections/ansible/builtin/debug_module.html#ansible-collections-ansible-builtin-debug-module
  ansible.builtin.debug:
    var: compose_output